<br>
<div class="container">
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="this-month">
                <div class="card-header">
                    <h5 class="card-title">This month</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{this_month}}</h3>
                    <h6 class="card-title">{{sum_b_m.total_sum}} rsd</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="this-year">
                <div class="card-header">
                    <h5 class="card-title">This year</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{this_year}}</h3>
                    <h6 class="card-title">{{sum_b_y.total_sum}} rsd</h6>
                </div>
            </div>
        </div>
    </div>

    
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="total-bills">
                    <div class="card-header">
                        <h5 class="card-title">Total bills</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{total_bills}}</h3>
                        <h6 class="card-title">{{sum_bills.total_sum}} rsd</h6>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>